{% extends 'base.html' %}

{% block content %}
    <div class="row p-4">
        <div class="col-12 text-center h3 pb-2">{% block title %}Pick Book to be Issued{% endblock %}</div>
        <div class="col-12">
            <div class="row py-4">
               <form method="GET">
                <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="input-group input-group-lg">
                        <select name="field" class="input-group-text">
                            <option value="title">Title</option>
                            <option value="author">Author</option>
                            <option value="isbn">ISBN</option>
                        </select>
                        <input type="text" name="search" class="form-control" placeholder="Text here...">
                        <button class="btn btn-outline-primary" type="submit">Search Book</button>
                    </div>
                </div>
                </form>
            </div>
            <div class="row">
                <div class="col-12 h5  py-2">{{title}}</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ISBN</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Available</th>
                            <th scope="col">Added Date</th>
                            <th scope="col">status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in items %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{row.isbn}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.author}}</td>
                            <td>{{row.quantity}}</td>
                            <td>{{row.number_available}}</td>
                            <td>{{row.date_created.strftime('%Y-%m-%d')}}</td>
                            <td>
                                {% if row.status == "AVAILABLE" %}
                                <span class="badge rounded-pill bg-success">Available</span>
                                {% else %}
                                <span class="badge rounded-pill bg-danger">Unavailable</span>
                                {% endif %}
                            </td>
                            <td>
                                <form method="POST">
                                    <input type="hidden" name="book" value="{{row.uuid}}">
                                    <button type="submit" class="btn btn-success">Pick</button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr><td class="text-center text-primary" colspan="7">No Data Available</td> </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
