{% extends 'base.html' %}

{% block content %}
    <div class="row p-4">
        <div class="col-12 text-center h3 pb-2">KNLS Library Books</div>
        <div class="col-12">
            <div class="row py-4">
                <form method="GET">
                <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="input-group input-group-lg">
                        <select name="field" class="input-group-text">
                            <option value="title">Title</option>
                            <option value="author">Author</option>
                            <option value="isbn">ISBN</option>
                        </select>
                        <input type="text" name="search" class="form-control" placeholder="Text here...">
                        <button class="btn btn-outline-primary" type="submit">Search Book</button>
                    </div>
                </div>
                </form>
            </div>
            <div class="row">
                <div class="d-flex py-2 justify-content-between">
                    <span class="h5">{% block title %}{{title}}{% endblock %}</span>
                    <a class="btn btn-primary" href="{{ url_for('books_create') }}" title="add new books">Add Book</a>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ISBN</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Added Date</th>
                            <th scope="col">status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in items %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{row.isbn}}</td>
                            <td>{{row.name|truncate(25,true,'...')}}</td>
                            <td>{{row.author|truncate(25,true,'...')}}</td>
                            <td>{{row.quantity}} ({{row.number_issued}} Issued)</td>
                            <td>{{row.date_created.strftime('%Y-%m-%d')}}</td>
                            <td>
                                {% if row.status == "AVAILABLE" %}
                                <span class="badge rounded-pill bg-success">Available</span>
                                {% else %}
                                <span class="badge rounded-pill bg-danger">Unavailable</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{url_for('books_retrieve', id=row.uuid)}}" class="btn btn-outline-primary">Details</a>
                                {% if row.status == "AVAILABLE" %}<a href="{{url_for('books_issue', id=row.uuid)}}" class="btn btn-outline-dark">Issue</a> {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr><td class="text-center text-primary" colspan="8">No Data Available</td> </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
